{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% if user.is_authenticated %}
  <a href="{% url 'add_review' %}?dealer_id={{ dealer.id }}" class="btn btn-primary">Add Review</a>
  {% endif %}
  <div class="card-columns">
    {% for review in reviews %}
    <div class="card">
      <img class="card-img-left" src="{{ MEDIA_URL }}/emoji/{% if review.sentiment == 'positive' %}positive.png{% elif review.sentiment == 'negative' %}negative.png{% else %}neutral.png{% endif %}">
      <div class="card-body">
        <h5 class="card-title">{{ review.car_model }}</h5>
        <p class="card-text">Make: {{ review.car_make }}</p>
        <p class="card-text">Year of Purchase: {{ review.purchase_year }}</p>
        <p class="card-text">{{ review.content }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
